/*  your css code here. If applicable */
*{background-color: rgb(204, 204, 204)}
#heading{text-align:center}
#song{ border:2px solid black; border-radius: 10px; margin:5px 16px 3px 16px; padding-top: 4px; padding-bottom: 4px; background-color:white;}
ul,li,a{background-color:white}
li{list-style-type:none; marhttps://storage.googleapis.com/acciojob-open-file-collections/188dbdf0-6169-4a03-b03c-f8a9b9111f46_Screenshot%202023-08-16%20at%206.59.07%20PM.pnggin:8px; }
a{text-decoration-line:none}
video{text-align:center; width: 420px; margin:10px 10px 10px 10px}
#link{border:2px solid; border-radius:10px; background-color:white; margin:10px 40px}
p,audio{background-color:white}
audio{width: 420px; height:35px;  margin:10px 10px 10px 10px }
#in{margin-bottom:2px}